@{
    ViewBag.Title = "Contact";
}

<h3>@ViewBag.Message</h3>

<address>
    Almost Epam<br />
    Minsk, Belarus<br />
    <abbr title="Phone">P:</abbr>
    +375 29 858 63 74
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:alexander.reznik.01@gmail.com">alexander.reznik.01@gmail.com</a><br />
</address>