@model BlogHost.Web.Models.PostListViewModel

@{
    ViewBag.Title = "Posts";
}

@{ Html.RenderPartial("_PostList", Model.Posts); }

<div class="pager">
    @Html.PageLinks(Model.PagingInfo, x => Url.Action("List", new {page = x}))
</div>