@model BlogHost.Web.Models.BlogListViewModel

@{
    ViewBag.Title = "Blogs";
}

@foreach (var p in Model.Posts)
{
    Html.RenderPartial("_BlogMiniPartial", p);
}
<br/>
<div>
    @Html.ActionLink("Create new blog", "Create")
</div>
<div class="pager">
    @Html.PageLinks(Model.PagingInfo, x => Url.Action("List", new { page = x }))
</div>
